PORT=3001
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=root
DB_NAME=ruta_contable1
JWT_SECRET=change_me_in_production
CORS_ORIGIN=http://localhost:3000
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=
FRONTEND_URL=http://localhost:3000
CURRENCY=COP
CLUB_NAME=Ruta Contable
NODE_ENV=production
